// Colors
$default-color: #444;
$default-shade: #2d2d2d;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$shadow-color: rgba(0, 0, 0, .1);
$code-color: #bf616a;
$accent-color: #2c5282;

// Fonts
$serif-primary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-secondary: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospaced: Monaco, Consolas, 'Lucida Console', monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
